node_modules/
.env
.idea
.vscode
.DS_Store
public/avatars/*.jpeg
public/avatars/*.jpg
public/avatars/*.png
public/recipes/*.jpeg
public/recipes/*.jpg
public/recipes/*.png
temp/*.jpeg
temp/*.jpg
temp/*.png
